body {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.grid {
  margin: 0 auto;
  border: 1px solid black;
  width: 306px;
  height: 306px;
}

.box {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  float: left;
  text-align: center;
  font-size: 76px;
}

.box:hover {
  background-color: aqua;
  cursor: pointer;
}
